pytest~=6.0.1
black==22.3.0
pre-commit==2.9.2
ipython
flask-shell-ipython
## plotly dash testing dependencies ##
webdriver_manager
percy
selenium
bs4
## end plotly dash testing dependencies ##
-r requirements.txt